@using WebbApp.ViewModels
@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<section id="contact">

    <div class="container">

        <div class="information">
            <div class="navigation">
                <a asp-action="Home" asp-controller="Default"><i class="fa-solid fa-house"></i> Home</a>


                <span>>></span>
                <a asp-action="Contact" asp-controller="Contact">Contact</a>
            </div>

            <div class="contact-us">
                <h2>Contact Us</h2>

                <div class="contact-us-box">
                    <div class="contact-us-logo">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="contact-us-text">
                        <h3>Email us</h3>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <a>Leave a messagee</a>
                    </div>
                </div>

                <div class="contact-us-box">
                    <div class="contact-us-logo">
                        <i class="fa-solid fa-user-plus"></i>
                    </div>
                    <div class="contact-us-text">
                        <h3>Careers</h3>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <a>Send an application</a>
                    </div>
                </div>
            </div>
        </div>











        <div class="form-container">



            <form asp-controller="Contact" asp-action="Contact" method="post" novalidate>
                
                <h2>Get In Contact With Us</h2>

                <div class="input-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName"/>
                </div>

                <div class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                </div>

                <div class="input-group">
                    <label asp-for="Service"></label>
                    <select asp-for="Service">
                        <option value="NoValueSelected" disabled selected hidden>Choose the service you are interested in</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>

                <div class="input-group">
                    <label asp-for="Message"></label>
                    <textarea asp-for="Message"></textarea>
                </div>

        


                <button class="btn-theme" type="submit">Send Contact Request</button>
            </form>
        </div>

    </div>



    <div class="address"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5255.943366122299!2d-122.40649287748823!3d37.73295220846219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7f02449cda7b%3A0x56b4d414afddd65!2sSilver%20Terrace%2C%20San%20Francisco%2C%20Kalifornien%2094124%2C%20USA!5e0!3m2!1ssv!2sse!4v1713296054652!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>

