<section id="features">
    <div class="container">
        <h1>What Do You Get with Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="tool-features">

            <div id="box1" class="box">
                <img src="images/icons/chat.svg">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consecetur egestas egestas suspendisse blandit justo.</p>
            </div>

            <div id="box2" class="box">
                <img src="images/icons/presentation.svg">
                <h5>Comments on Tasks</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>

            <div id="box3" class="box">
                <img src="images/icons/add-group.svg">
                <h5>Comments on Tasks</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>

            <div id="box4" class="box">
                <img src="images/icons/bell.svg">
                <h5>Comments on Tasks</h5>
                <p>Diam suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>

            <div id="box5" class="box">
                <img src="images/icons/tests.svg">
                <h5>Comments on Tasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>

            <div id="box6" class="box">
                <img src="images/icons/shield.svg">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>


        </div>
    </div>
</section>