@{
    var user = await UserManager.GetUserAsync(User);
    bool isRoot = Context.Request.Path.Value!.Equals("/");

    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;


    bool changeBackground = false;

    if (Context.Request.Path.Value!.Equals("/contact"))
    {
        changeBackground = true;
    }
}

<header class="@(changeBackground ? "contact-background" : "")">
    <div class="container">
       <a id="logo" asp-action="Home" asp-controller="Default">
            <img src="~/images/logos/@(isDark ? "silicon_logo1_dark.svg" : "silicon_logo1_light.svg")" />
       </a>

       <nav>
           <a asp-action="Home" asp-controller="Default" asp-fragment="showcase">Overview</a>
           <a asp-action="Home" asp-controller="Default" asp-fragment="features">Features</a>
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-action="Index" asp-controller="Courses">Courses</a>
            }
            <a asp-action="Contact" asp-controller="Contact">Contact</a>
       </nav>
        

        <div class="btn-switch">
            <label class="light-switch-text">Light</label>
            <label class="switch">
                <input type="checkbox" id="switch-mode" checked="@isDark" >
                <span class="slider round"></span>
            </label>
            <label class="light-switch-text">Dark</label>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="profile">
                <div class="profile-image">
                    <a asp-action="Details" asp-controller="Account">
                        <img src="~/images/uploads/profiles/@user?.ProfileImage"/>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="account-buttons">
                <a class="btn-gray account-btn" asp-action="SignIn" asp-controller="Auth"><i class="fa-solid fa-right-to-bracket"></i> Sign in</a>
                <a class="btn-theme account-btn" asp-action="SignUp" asp-controller="Auth"><i class="fa-regular fa-user"></i> Sign up</a>
            </div>

        }


    </div>
</header>
