<section id="manage-work">
    <div class="container">
        <img src="~/images/other/manage-work-light.svg" alt="Displaying the program"/>
        <div class="content">
            <h2>Manage Your Work</h2>
            <ul>
                <li><i class="fa-regular fa-circle-check"></i>Powerful project management</li>
                <li><i class="fa-regular fa-circle-check"></i>Transparent work management</li>
                <li><i class="fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</li>
                <li><i class="fa-regular fa-circle-check"></i>Track your progress with interactive charts</li>
                <li><i class="fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</li>
            </ul>
            <a asp-action="ManageWork" asp-controller="Products" class="btn-theme">Learn more <i class="fa-solid fa-arrow-trend-up"></i></a>

        </div>
    </div>
</section>

