<section id="showcase">
    <img class="background-image" src="~/images/other/background-image.svg">
    <div class="container">
        <div class="content">
            <p id="showcase-title">Task Management Assistant You gonna Love</p>
            <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool</p>
            <a class="btn-theme" href="#">Get started for free</a>
            <h6>Largest companies use our tool to work efficiently</h6>
            <div class="brands">
                <img src="~/images/brands/brands1.svg" alt="">
                <img src="~/images/brands/brands2.svg" alt="">
                <img src="~/images/brands/brands3.svg" alt="">
                <img src="~/images/brands/brands4.svg" alt="">
            </div>
        </div>
    </div>
</section>
