

.mega-div {
    background-color: var(--color-gray-000);

    #security {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 150px;
        margin-bottom: 70px;
        margin-top: 50px;
        width: 100%;



        aside {
            border-right: 1px solid var(--color-gray-300);
            padding-right: 20px;
            height: max-content;

            .profile-info {
                margin: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;




                p {
                    @include text-m;
                }

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                #change-img {
                    width: max-content;
                    background-color: var(--color-gray-600);
                    margin-top: 1rem;
                    box-shadow: 0 0 8px -3px var(--color-gray-900);
                    border-radius: 0.25rem;
                    margin-bottom: 1rem;

                    label {
                        color: var(--color-gray-000);
                    }
                }

                h2 {
                    font-weight: 900;
                    color: var(--color-gray-900);
                }

                h5 {
                    margin-top: 0.75rem;
                    color: var(--color-gray-900);
                }
            }

            nav {
                margin-top: 2rem;
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                a {
                    text-align: left;
                    justify-content: flex-start;
                    font-weight: 700;
                    color: var(--color-gray-900);
                    text-decoration: none;
                    text-align: left;
                    padding: 0.5rem 2rem;
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .active {
                    background-color: $theme;
                    border-radius: 0.5rem;
                    box-shadow: 0 0 8px -4px $theme;
                    color: white;

                    &:hover {
                        background-color: var(--color-gray-700);
                    }
                }
            }
        }

        .security-information {

            @include lg {
                margin-left: -8rem;
            }

            .security-form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: max-content;

                h2 {
                    font-weight: 800;
                    color: var(--color-gray-900);
                }

                span {
                    color: $theme;
                    font-weight: 600;
                    font-size: 1.25rem;
                }

                .input-group {
                    margin-bottom: 1rem;

                    label {
                        font-weight: bold;
                        margin-bottom: 0.25rem;
                        color: var(--color-gray-900);
                    }

                    input {
                        width: 416px;
                        color: var(--color-gray-900);
                        background-color: var(--color-gray-000);

                        &::placeholder {
                            color: var(--color-gray-900);
                        }


                        @include xxl {
                            width: 350px;
                        }

                        @include md {
                            width: 80%;
                        }



                        &::placeholder {
                            color: var(--color-gray-900);
                        }
                    }

                    span {
                    }
                }

                .updated-password {
                    display: flex;
                    gap: 2rem;

                    @include xl {
                        flex-direction: column;
                        gap: 1rem;
                    }

                    .input-group {
                        label {
                        }

                        input {
                        }

                        span {
                        }
                    }
                }

                .security-buttons {
                    display: flex;
                    gap: 1.5rem;

                    button {
                        width: 20%;
                        border-radius: 0.5rem;

                        @include xl {
                            width: 35%;
                        }
                    }

                    .btn-cancel {
                        background-color: var(--color-gray-300);
                        border: none;
                        outline: none;
                        width: 15%;
                        color: var(--color-gray-900);

                        @include xl {
                            width: 30%;
                        }
                    }
                }
            }


            .delete-form {
                margin-top: 3rem;
                padding-top: 2rem;
                border-top: 1px solid var(--color-gray-300);
                width: max-content;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include xl {
                    width: 100%;
                }

                span {
                    color: $theme;
                    font-weight: 600;
                    font-size: 1.25rem;
                }

                p {
                    width: 820px;
                    color: var(--color-gray-900);

                    @include xxl {
                        width: 700px;
                    }

                    @include xl {
                        width: 80%;
                    }
                }

                .checkbox-group {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    input {
                    }

                    label {
                        color: var(--color-gray-900);
                    }
                }

                button {
                    margin-top: 2rem;
                    width: 11%;
                    border: none;
                    border-radius: 0.25rem;
                    padding: 0.75rem 3.5rem;
                    display: flex;
                    justify-content: center;
                    color: white;
                    background-color: red;
                }
            }
        }
    }
}
