.contact-background {
    background-color: var(--color-gray-200);
}



#contact {
    height: max-content;
    background-color: var(--color-gray-200);

    .container {


        .information {
            margin-top: 3rem;

            .navigation {
                display: flex;
                margin-bottom: 2rem;
                gap: 1rem;

                @include md {
                    justify-content: center;
                    align-items: center;
                }


                a {
                    text-decoration: none;
                    color: var(--color-gray-600);
                }

                a:nth-last-child(1) {
                    color: $theme;
                }

                span {
                    letter-spacing: -5px;
                    color: var(--color-gray-600);
                    margin-right: 0.2rem;
                }
            }
        }


        .contact-us {
            display: flex;
            flex-direction: column;


            @include md {
                justify-content: center;
                align-items: center;
            }


            h2 {
                font-weight: 900;
                color: var(--color-gray-900);
            }

            .contact-us-box {
                display: flex;
                margin-top: 3rem;
                gap: 1.75rem;

                .contact-us-logo {
                    margin-top: 1.5rem;
                    width: max-content;
                    z-index: 99;
                    text-align: left;

                    i {
                        color: $theme;
                        background-color: white;
                        border-radius: 50%;
                        padding: 0.75rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                }

                .contact-us-text {
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    gap: 1rem;
                    color: var(--color-gray-900);

                    h3 {
                        margin: 0;
                        font-weight: 900;
                        color: var(--color-gray-900);
                    }

                    p {
                        margin: 0;
                        color: var(--color-gray-900);
                        font-weight: 300;
                    }

                    a {
                        margin-top: 1rem;
                        font-weight: 500;
                        color: $theme;
                        width: max-content;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }


        .form-container {
            z-index: 999;
            position: absolute;
            right: 15%;
            padding: 3.5rem;
            background-color: var(--color-gray-000);
            width: max-content;
            top: 15%;
            display: flex;
            flex-direction: column;
            border-radius: 0.25rem;
            box-shadow: 0 0 7px -4px black;
            justify-content: start;
            align-items: start;



            @include xxl {
                width: 40%;
                right: 10%;
            }

            @include lg {
                right: 5%;
            }

            @include md {
                transform: translate(-50%,-50%);
                right: 50%;
                left: 50%;
                top: 150%;
                width: 80vw;
            }



            form {
                position: relative;
                width: max-content;
                display: flex;
                gap: 1.5rem;
                flex-direction: column;

                h2 {
                    width: 492px;
                    font-weight: 900;
                    margin-bottom: 1rem;
                    color: var(--color-gray-900);

                    @include xxl {
                        width: 370px;
                        right: 10%;
                    }

                    @include xl {
                        width: 270px;
                    }

                    @include mdd {
                        max-width: 200px !important;
                    }
                }

                .input-group {
                    label {
                        font-weight: 600;
                        color: var(--color-gray-900);
                    }

                    input {
                        background-color: var(--color-gray-000);
                        border: 1px solid var(--color-gray-200);


                        @include xl {
                            width: 300px;
                        }

                        @include mdd {
                            max-width: 180px !important;
                        }

                        &::placeholder {
                            color: var(--color-gray-900);
                        }
                    }

                    select {
                        @include xl {
                            width: 300px;
                        }

                        @include mdd {
                            max-width: 180px !important;
                        }
                    }

                    textarea {
                        border: 1px solid var(--color-gray-200);
                        height: 180px;
                        color: var(--color-gray-900);
                        background-color: var(--color-gray-000);

                        @include xl {
                            width: 300px;
                        }

                        @include mdd {
                            max-width: 180px !important;
                        }
                    }
                }

                button {
                    width: 246px;

                    @include mdd {
                        width: 160px !important;
                    }
                }
            }
        }
    }


    .address {
        margin-top: 10rem;
        width: 100%;
        height: 80vh;

        @include md {
            margin-top: 60rem;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
