.courses {
    padding-top: 3rem;
    padding-bottom: 5rem;

    .container {

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;


            h1 {
            }

            #form-filters {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1.5rem;

                .select {
                    position: relative;
                    min-width: 300px;

                    .selected{
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        border: 1px solid $gray-400;
                        cursor: pointer
                    }

                    .select-options{
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        background-color: $white;
                        border: solid 1px $gray-400;
                        z-index: 9999;


                        .option{
                            padding: 10px;
                            cursor: pointer;
                        }

                        .option:hover{
                            background-color: $gray-400;
                        }
                    }
                }

                .input-search-group {
                }
            }
        }


        .course-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            .course {
                position: relative;
                display: block;
                border-radius: 8px;
                overflow: hidden;
                text-decoration: none;
                box-shadow: 0 0 14px -4px $gray-500;
                color: $gray-700;

                &:hover {
                    box-shadow: 0 0 14px -4px $gray-900;
                }

                .bestseller {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    background-color: $success;
                    color: $white;
                    padding: 4px 12px;
                    border-radius: 4px;
                }

                .bookmark {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    z-index: 999;
                    border: none;
                    border-radius: 50%;
                    padding: 0.75rem 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: $gray-900;
                        transition: 0.3s ease-in-out;

                        i {
                            color: $white;
                        }
                    }
                }

                img {
                    width: 100%;
                }

                .content {
                    padding: 1rem 2rem;

                    .title {
                        font-size: 20px;
                        margin: 0.5rem 0;
                    }

                    .pricing {
                        display: flex;
                        gap: 1rem;
                        font-size: 18px;
                        font-weight: 600;

                        .discount {
                            color: $danger;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .original {
                            color: $theme;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .discount-enabled {
                            color: $gray-600;
                            text-decoration: line-through;
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }

                .footer {
                    color: $gray-600;
                    border-top: 1px solid $gray-400;
                    display: flex;
                    margin-top: 1rem;
                    padding-top: 1rem;
                    gap: 2rem;


                    .hours {
                        i {
                            margin-right: 5px;
                        }
                    }

                    .likes {
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .work-with-us {
            background-color: $gray-200;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 2rem 0;

            .work-with-us-text {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                span {
                    font-size: 1.25rem;
                    font-weight: 400;
                }

                #skills-text {
                    width: 350px;
                    font-size: 2rem;
                    font-weight: bold;

                    span {
                        font-size: 1.875rem;
                        font-weight: bold;
                        color: $theme;
                    }
                }

                a {
                    width: 162px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            img {
                height: 100%;
            }
        }
    }
}
