header {
    padding: 15px 0;
    background-color: var(--color-gray-000);

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";
        gap: 40px;
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo menu switch buttons profile";
        @include md{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }



        #logo {
            grid-area: logo;
        }

        nav {
            grid-area: menu;
            display: flex;
            flex-direction: row;
            gap: 1rem;

            a {
                text-decoration: none;
                font-weight: 700;
                color: var(--color-gray-900);
            }

            @include lg {
                a:nth-child(1) {
                    display: none;
                }

                a:nth-child(2) {
                    display: none;
                }
            }
        }

        .btn-switch {
            grid-area: switch;

            .light-switch-text {
                color: var(--color-gray-900);
            }
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-image {
                a {
                    img {
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }


        .account-buttons {
            grid-area: buttons;
            gap: 15px;
            flex-direction: row;
            display: flex;

            .account-btn {
                @include lg{
                    width: max-content;
                }
                @include md{
                    padding: 0.5rem 3rem;
                }
            }

            a {
                text-decoration: none;
            }



            .btn-gray {
                background-color: var(--color-gray-100);
                color: var(--color-gray-900);
            }
        }
    }
}
